*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #FBF5DF;
}

body{
  background-color:#1A1C2F;
}

.prediction, .work{
      height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

h1{
  margin: 50px 0 70px 0;
  font-size: 2em;
  font-weight: 900;
  padding: 0 50px;
  text-align: center;
  color: #FFF;
}

.prediction h1{
    margin-top:0;
}

h2{
    font-size: 1.2em;
}

form{
    width:60%;
  min-width: 400px;
}

form label, form input, form select, button, a{
  display: block;
  width: 100%;
}

form input, form select, button, a{
  padding:15px 20px;
  box-sizing: border-box;
}

form input, form select{
  border-width: 2px;
  margin-bottom: 30px;
  border-style: solid;
  /*border-bottom-style: solid;*/
  border-radius:8px;
  border-color: #C1484D;
  background-color: #FBF5DF;
  color:#1A1C2F;
}

select:invalid, ::placeholder{
  color: #B5A586;
}

a, button{
    text-decoration: none;
  border-style: none;
  border-radius:4px;
  background-color:#C1484D;
  color:#FBF5DF;
  width: 20%;
  margin-left: 40%;
  transition: .35s ease-in-out;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  min-width:200px;
  text-align:center;
}

a{
    display: block;
    margin:0;
    margin-bottom:50px;
}

a:hover, button:hover{
  transition: .35s ease-in-out;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.20);
  transform: translateY(-0.25em);
  cursor: pointer;
}

.input-row{
  display: flex;
  justify-content: space-between;
}

.input-row select{
  width: 27%;
}

.formation, .infoforma{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:space-around;
    padding:5vh 5% 10vh 5%;
    height:calc(100vh - 15vh);
}

.formation h1, .infoforma h1{
    width:100%;
    margin:5vh 0 100px 0;
}

.formation article{
    background: #263755;
    width: 26%;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:30px 10px;
    border-radius: 8px;
    border-style:solid;
    border-color: #B5A586;
    margin-bottom: 30px;
}

.formation a{
    margin:20px 0 0 0;
}

.infoforma{
    height: auto;
    align-items:flex-start;
}

.infoforma .cinqcinq{
    width:45%;
}

.infoforma .info{
    display: flex;
    flex-direction: column;
    background: #263755;
    padding:30px 50px;
    border-radius: 8px;
    border-style:solid;
    border-color: #B5A586;
    width:calc(45% - 100px);
}

.infoforma .info a{
    align-self: center;
    margin:0 0 30px 0;
}

.infoforma .mapouter{
    position: -webkit-sticky;
    position: sticky;
    top:calc(50vh - 200px);
    height:400px;
    text-align:right;
}

.infoforma p{
    margin:0 0 50px 0;
    line-height: 1.3em;
}

.infoforma .typeinfo{
    display: block;
    font-weight: 700;
    color: #fff;
}